# system aliases

alias h="cd"
alias s="cd -"
alias u="cd .. && e"
alias ae="vi ~/.aliases"
alias ve="vi ~/.variables"
alias fu="vi ~/.functions"
alias e="exa --all --reverse --sort=size"
alias la="exa --all"
alias ll="exa --long --all"
alias lt="exa --long --tree --level=3"
alias ld="exa --long --sort=modified"
alias munix="ssh munix@192.168.43.147"



if [ "$(uname)" = "Darwin" ];
then
	alias i="brew install"
else
	alias i="sudo apt install"
fi
