# system aliases

alias h="cd"			# Go to Home Directory
alias reload="source ~/.zshrc"	# Reload the shell config file
alias s="cd -"
alias u="cd .. && e"
alias ae="vi ~/.aliases"
alias ve="vi ~/.variables"
alias fu="vi ~/.functions"
alias e="exa --all --reverse --sort=size"
alias la="exa --all"
alias ll="exa --long --all"
alias lt="exa --tree --level=1"
alias ld="exa --long --sort=modified"
alias z="vi ~/.zshrc"		# open zsh config file quickly
alias munix="ssh munix@192.168.43.147"
alias rf="cd ~/universe"
alias t="tldr"
alias xe="chmod +x"		# make a file executable


# Mac-specific
if [ "$(uname)" = "Darwin" ];
then
	alias i="brew install"	# install from brew
	alias o="open"
fi

# Linux-specific
if [ "$(uname)" = "Linux" ];
then
	alias i="sudo apt install" # install using apt
fi

